/* General */

h2 {
  font-size: 42px;
  text-align: center;
}

p {
  font-size: 1.2em;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
  padding-bottom: 2%;
}

a.navbar-brand {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .15em;
}

a.nav-link {
  font-size:
}

/* Jumbotron */

.jumbotron {
	margin-top: -3%;
  margin-bottom: 0;
  padding: 5%;
}

.jumbotron h1 {
  text-shadow: 2px 2px #fff;
}

.roseImg {
  display: block;
  margin: auto;
  width: 320px;
  border-radius: 100%;
  border: solid 5px #000;
}

/* Project Panel */

.panel {
  border: none;
  box-shadow: none;
  padding: 0 5%;
}

.panel h3 {
  text-align: center;
}

.secondary {
  text-shadow: 1px 1px #c0c0c0;
}

.projectImg {
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 100%;
  border: solid 5px #000;
}

.techUsed {
  font-weight: bold;
}

.techDesc {
  font-style: italic;
}

/* Background Panel */

h3.bg-h3 {
  padding-bottom: 6%;
}

.backgroundImg {
  float: left;
  padding: 2%;
}

.backgroundInfo {
  text-align: left;
}

.backgroundDate {
  float: right;
  font-weight: bold;
  font-style: italic;
}

ol {
  list-style-type: none;
  font-size: 1.3em;
}
