/* General */
body {
  color: #838689;
}

h2 {
  font-size: 42px;
  text-align: center;
}

p {
  font-size: 1.2em;
}

/* Navbar */
nav {
  color: white;
}

.navbar {
  margin-bottom: 0;
  padding-bottom: 2%;
}

.navbar-default {
  background-color: #49274A;
}

  /* Changes nav-bar brand color */
.navbar-default .navbar-brand {
  color: #fff;
}

a.navbar-brand {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-shadow: .4px .4px #838689;
}

a.nav-link {
  font-size: 1em;
  text-shadow: .5px .5px #838689;
}

.nav.navbar-nav.navbar-right {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #94618E;
}

.navbar-default .navbar-nav>li>a:visited {
  color: #94618E;
}

/* Jumbotron */

.jumbotron {
	margin-top: -3%;
  margin-bottom: 0;
  padding: 5%;
  background-color: #94618E; 
}

.jumbotron h1 {
  color: #fff;
  text-shadow: 1px 1px #49274A;
}

.jumbotron p {
  color: #fff;
  text-shadow: .1px .1px #fafafa;
  line-height: 1.4em;
}

.roseImg {
  display: block;
  margin: auto;
  width: 320px;
  border-radius: 100%;
  border: solid 5px #49274A;
}

/* Project Panel */

.panel {
  border: none;
  box-shadow: none;
  padding: 0 5%;
}

.panel p {
  color: #584e5f;
}

.panel h3 {
  text-align: center;
}

.panel h3 a {
  color: #49274A;
  text-decoration: none;
}

h2.secondary {
  color: #94618E;
  text-shadow: .3px .3px #49274A;
}

.projectImg {
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 100%;
  border: solid 5px #94618E;
}

.techUsed {
  color: #49274A;
  font-weight: bold;
}

.techDesc {
  color: #94618E;
  font-style: italic;
}

/* Background Panel */

h3.bg-h3 {
  padding-bottom: 6%;
  color: #49274A;
}

h4.backgroundInfo {
  color: red;
}

.backgroundImg {
  float: left;
  padding: 2%;
}

.backgroundInfo {
  text-align: left;
}

.backgroundDate {
  float: right;
  font-weight: bold;
  font-style: italic;
}

ol {
  padding-left: 1%;
  list-style-type: none;
  font-size: 1.3em;
}
